<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="com.happyhouse.mapper.BookMarkMapper">

  	<select id="getAllBookMark" resultType="com.happyhouse.dto.BookMark">
  		select * from bookmark where id = #{id}
  	</select>
	
	<select id="isMarked" resultType="com.happyhouse.dto.BookMark">
		select * from bookmark where id=#{id} and no = #{no}
	</select>
	
	<insert id="addToMark">
		insert into bookmark values(#{id}, #{no}, #{dong}, #{aptName});
	</insert>
	
	<delete id="deleteMark">
		delete from bookmark where id=#{id} and no = #{no}
	</delete>	
</mapper>