<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="com.happyhouse.mapper.HouseMapper">
	
	<!-- 검색조건 : 가게이름 or 업태명 ex) 스타벅스 or 카페   -->
	<select id="search" resultType="com.happyhouse.dto.Commercial">
		select * 
		from commercialarea
		where dong = #{dong} and
		<if test="codename3 != ''">
			codename3 like concat('%', #{codename3}, '%')
		</if>
		<if test="shopname != ''">
			shopname like concat('%', #{shopname}, '%')
		</if>
		and lat like concat ('%', #{lat}, '%')
		and lng like concat ('%', #{lng}, '%')
	</select>
</mapper>

