<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="com.happyhouse.mapper.HouseMapper">

	<select id="selectSido" resultType="com.happyhouse.dto.SidoCode">
		select left(sido_code, 2) sido_code, sido_name from sidocode 
		order by sido_code;
	</select>

	<select id="selectGuGun" resultType="com.happyhouse.dto.SidoCode">
		select left(gugun_code,5) gugun_code, gugun_name FROM guguncode
		where left(gugun_code,2) = #{sido}
		order by gugun_code
	</select>
	
	<select id="selectDong" resultType="com.happyhouse.dto.HouseInfo">
		SELECT distinct dong, code FROM houseinfo 
		where code = #{dong}
		ORDER BY dong
	</select>
	
	<select id="selectApt" resultType="com.happyhouse.dto.HouseInfo">
		SELECT no,dong,AptName,code,jibun, buildYear, lat, lng FROM houseinfo WHERE dong = #{dong}
		order by aptname
	</select>
	
	<select id="search" resultType="com.happyhouse.dto.HouseDeal">
		select * from housedeal where aptname like (select aptname from houseinfo where no = #{no}) limit 1
	</select>
	
	<select id="isMarked" resultType="com.happyhouse.dto.BookMark">
		select * from bookmark where id=#{id} and no = #{no}
	</select>
	
	<select id="addToMark">
		insert into bookmark values(#{id}, #{no}, #{dong}, #{aptName});
	</select>
	
	<delete id="deleteMark">
		delete from bookmark where id=#{id} and no = #{no}
	</delete>
	
</mapper>